<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="${dubbo.application.name}" owner="${dubbo.application.owner}"/>
    <!-- zk注册中心配置 -->
    <dubbo:registry address="${dubbo.registry.address}" group="${dubbo.registry.group}"/>
    <!-- 用dubbo端口自动分配 -->
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" threads="${dubbo.protocol.threads}"
                    serialization="${dubbo.protocol.serialization}"/>
    <!-- dubbo提供者配置 -->
    <dubbo:provider group="${dubbo.provider.group}" timeout="${dubbo.provider.timeout}"
                    retries="${dubbo.provider.retries}" owner="${dubbo.provider.owner}" version="${dubbo.provider.version}"/>

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.le.jr.clearing.configure.interfaces.ClearingConfigQueryInterface"
                   ref="clearingConfigQueryInterface"/>
                   
                       
    <dubbo:service interface="com.le.jr.clearing.configure.interfaces.ClearingConfgSubjInterface"
                   ref="clearingConfgSubjInterface"/>

    <dubbo:service interface="com.le.jr.clearing.configure.interfaces.ParamSettingInterface"
                   ref="paramSettingInterface"/>

    <dubbo:service interface="com.le.jr.clearing.configure.interfaces.QZEngineValidateInterface"
                   ref="qzEngineValidateInterface"/>

</beans>